# فایل دیتابیس SQLite
database.db
database_v2.db

# فایل متغیرهای محیطی
.env

# فایل‌های موقتی و کامپایل‌شده پایتون
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# فایل‌های سیستمی و لگاریتم‌ها
*.log
*.bak
*.swp

# پوشه‌های مجازی محیط پایتون
venv/
env/

# فایل‌های IDE و ادیتورها (مثلاً VSCode)
.vscode/
.idea/

# فایل‌های خروجی و بیلد
build/
dist/

# فایل‌های تست موقت
*.test
!Dockerfile.test

# استثناها (اگه چیزی خاص می‌خوای نادیده گرفته نشه)
#!important_config.txt
